#ecommRow{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

#ecommRow > div{
    width: 50%;
}

#ecommRow img{
    width: clamp(20rem, 30vw, 30rem);
}

.shopBtn{
    min-width: 9rem;
    width: fit-content;
    display: block;
    margin: auto;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    background-color: #7f7f7f;
    color: #fff !important;
    transition: background-color .2s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.shopBtn:hover{
    background-color: #535353;
}


@media (max-width: 700px) {
    #ecommRow > div{
        width: 100%;
    }

    #ecommRow > div:first-child{
        margin-bottom: 30px;
    }
}