.display_flex{
    display: flex;
}

.flex_center{
    justify-content: center;
    align-items: center;
}

.j_c_center{
    justify-content: center;
}

.j_c_space_between{
    justify-content: space-between;
}

.a_i_center{
    align-items: center;
}

.a_i_flex_start{
    align-items: flex-start;
}