.boxBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.boxBtns button{
    width: 2rem;
    height: 2rem;
    color: #fff;
    border: 1p solid;
    cursor: pointer;
}

.addBtn{
    background-color: green;
    margin-right: 1rem;
}

.removeBtn{
    background-color: red;
    margin-left: 1rem;
}