p{
    margin: 0;
}

#productsBox{
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    padding: 3em 0;
}

.card_product{
    box-shadow: 0px 2px 4px 0px #d2d0e48a;
    background-color: #fff;
    border-radius: 3px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_card{
    width: 90%;
    margin: 0.5em auto 0.5em;
    display: block;
}

.card_product button{
    margin: auto;
    display: block;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
    margin-top: 1.2rem;
    background-color: #7f7f7f;
    color: #fff;
}

@media screen and (max-width: 900px) {
    #productsBox{
        grid-template-columns: repeat(2, 1fr); 
    }
}
